## Select and fit one proof of concept model to predict the outcome column from the customer data. State the reasons for the choice of model used.

In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("preprocessed_customerdata.csv")

In [3]:
dataset_=pd.get_dummies(dataset,drop_first=True)

In [4]:
X=dataset_.drop(["outcome","id"],axis=1)

In [5]:
X

,vehicle_ownership,married,children,postal_code,speeding_violations,DUIs,past_accidents,telematic_score,credit_scores,annual_mileages,...,driving_experience_10-19y,driving_experience_20-29y,driving_experience_30y+,education_none,education_university,income_low,income_medium,income_very low,vehicle_year_before 2015,vehicle_type_sports car
0,True,False,True,10238,0,0,0,37.454012,0.629027,12000.000000,...,0,0,0,0,0,0,0,0,0,0
1,False,False,False,10238,0,0,0,95.071431,0.357757,16000.000000,...,0,0,0,1,0,0,0,1,1,0
2,True,False,False,10238,0,0,0,73.199394,0.493146,11000.000000,...,0,0,0,0,0,1,0,0,1,0
3,True,False,True,32765,0,0,0,59.865848,0.206013,11000.000000,...,0,0,0,0,1,1,0,0,1,0
4,True,False,False,32765,2,0,1,15.601864,0.388366,12000.000000,...,1,0,0,1,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,True,False,False,10238,0,0,1,85.765599,0.582787,16000.000000,...,1,0,0,0,1,0,0,0,1,0
9996,True,False,True,32765,1,0,0,89.750884,0.522231,11697.003207,...,1,0,0,1,0,0,1,0,0,0
9997,True,False,True,10238,0,0,0,94.670792,0.470940,14000.000000,...,0,0,0,0,0,0,1,0,1,0
9998,False,False,True,10238,2,0,1,39.748799,0.364185,13000.000000,...,1,0,0,0,0,0,0,1,1,0
9999,True,True,True,10238,0,0,0,21.714040,0.435225,13000.000000,...,0,0,0,1,0,1,0,0,1,0

In [6]:
y=dataset_["outcome"]

In [7]:
dataset_["outcome"].value_counts()

False    6867
True     3133
Name: outcome, dtype: int64

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [9]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [10]:
from DescriptiveML import DescriptiveML

obj=DescriptiveML()

In [11]:
obj.random_forest(X_train, X_test, y_train, y_test)

[[1540  162]
 [ 290  508]]
The Accuracy is: 0.8192
              precision    recall  f1-score   support

       False       0.84      0.90      0.87      1702
        True       0.76      0.64      0.69       798

    accuracy                           0.82      2500
   macro avg       0.80      0.77      0.78      2500
weighted avg       0.81      0.82      0.81      2500

(RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
                        max_depth=None, max_features='auto', max_leaf_nodes=None,
                        min_impurity_decrease=0.0, min_impurity_split=None,
                        min_samples_leaf=1, min_samples_split=2,
                        min_weight_fraction_leaf=0.0, n_estimators=10,
                        n_jobs=None, oob_score=False, random_state=0, verbose=0,
                        warm_start=False), array([[1540,  162],
        [ 290,  508]], dtype=int64), 0.8192)

In [12]:
obj.Decision_Tree(X_train, X_test, y_train, y_test)

[[1452  250]
 [ 252  546]]
The Accuracy is: 0.7992
              precision    recall  f1-score   support

       False       0.85      0.85      0.85      1702
        True       0.69      0.68      0.69       798

    accuracy                           0.80      2500
   macro avg       0.77      0.77      0.77      2500
weighted avg       0.80      0.80      0.80      2500

(DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
                        max_features=None, max_leaf_nodes=None,
                        min_impurity_decrease=0.0, min_impurity_split=None,
                        min_samples_leaf=1, min_samples_split=2,
                        min_weight_fraction_leaf=0.0, presort=False,
                        random_state=0, splitter='best'), array([[1452,  250],
        [ 252,  546]], dtype=int64), 0.7992)

In [13]:
obj.Knn(X_train, X_test, y_train, y_test)

[[1511  191]
 [ 295  503]]
The Accuracy is: 0.8056
              precision    recall  f1-score   support

       False       0.84      0.89      0.86      1702
        True       0.72      0.63      0.67       798

    accuracy                           0.81      2500
   macro avg       0.78      0.76      0.77      2500
weighted avg       0.80      0.81      0.80      2500

(KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                      metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                      weights='uniform'), array([[1511,  191],
        [ 295,  503]], dtype=int64), 0.8056)

In [14]:
obj.NaiveBayes(X_train, X_test, y_train, y_test)

[[1202  500]
 [ 130  668]]
The Accuracy is: 0.748
              precision    recall  f1-score   support

       False       0.90      0.71      0.79      1702
        True       0.57      0.84      0.68       798

    accuracy                           0.75      2500
   macro avg       0.74      0.77      0.74      2500
weighted avg       0.80      0.75      0.76      2500

(GaussianNB(priors=None, var_smoothing=1e-09), array([[1202,  500],
        [ 130,  668]], dtype=int64), 0.748)

In [15]:
obj.SVM_Linear(X_train, X_test, y_train, y_test)

[[1523  179]
 [ 235  563]]
The Accuracy is: 0.8344
              precision    recall  f1-score   support

       False       0.87      0.89      0.88      1702
        True       0.76      0.71      0.73       798

    accuracy                           0.83      2500
   macro avg       0.81      0.80      0.81      2500
weighted avg       0.83      0.83      0.83      2500

(SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
     decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
     kernel='linear', max_iter=-1, probability=False, random_state=0,
     shrinking=True, tol=0.001, verbose=False), array([[1523,  179],
        [ 235,  563]], dtype=int64), 0.8344)

In [16]:
obj.SVM_nonlinear(X_train, X_test, y_train, y_test)

[[1528  174]
 [ 231  567]]
The Accuracy is: 0.838
              precision    recall  f1-score   support

       False       0.87      0.90      0.88      1702
        True       0.77      0.71      0.74       798

    accuracy                           0.84      2500
   macro avg       0.82      0.80      0.81      2500
weighted avg       0.84      0.84      0.84      2500

(SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
     decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
     kernel='rbf', max_iter=-1, probability=False, random_state=0,
     shrinking=True, tol=0.001, verbose=False), array([[1528,  174],
        [ 231,  567]], dtype=int64), 0.838)